#characters, #graveyard{
    display: flex;
}

.flipped{
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -khtml-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    
}

#player, #opponent{
    text-align: center;
    position: relative
}

#playerText, #opponentText{
    top: 50px;
    position: absolute;
}
